n8n-workflows/1-reorder-trigger-workflow.json
{
  "name": "Ambica Pharma - Automatic Reorder Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reorder-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f6d7a11e-d8b3-4b3c-9f2e-3c7d8a9b0e1f",
      "name": "Webhook - Reorder Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "reorder-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.chemical.urgency}}",
              "operation": "equal",
              "value2": "critical"
            }
          ]
        }
      },
      "id": "c3b2a1d0-e9f8-4a5b-8c7d-6e3f9a2b1c4d",
      "name": "Check Urgency Level",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Calculate recommended order quantity and urgency\nconst chemical = $input.first().json.chemical;\nconst currentStock = chemical.currentStock || 0;\nconst threshold = chemical.reorderThreshold || 0;\nconst recommendedQty = chemical.recommendedQuantity || (threshold * 2);\n\n// Determine supplier contact info\nconst supplierContacts = {\n  'ChemCorp Ltd': {\n    email: 'orders@chemcorp.com',\n    phone: '+91-9876543210',\n    contact: 'Rajesh Kumar'\n  },\n  'Industrial Chemicals Inc': {\n    email: 'procurement@indchem.com', \n    phone: '+91-9876543211',\n    contact: 'Priya Sharma'\n  },\n  // Add more supplier contacts\n  'default': {\n    email: 'info@supplier.com',\n    phone: '+91-9876543200',\n    contact: 'Sales Team'\n  }\n};\n\nconst supplierInfo = supplierContacts[chemical.supplier] || supplierContactsdefault;\n\n// Calculate estimated cost\nconst estimatedCost = recommendedQty * chemical.costPerUnit;\n\n// Generate PO number\nconst poNumber = `PO-${new Date().getFullYear()}-${String(Date.now()).slice(-6)}`;\n\nreturn [{\n  json: {\n    reorderData: {\n      chemical: chemical,\n      poNumber: poNumber,\n      recommendedQuantity: recommendedQty,\n      estimatedCost: estimatedCost,\n      supplier: supplierInfo,\n      urgency: currentStock === 0 ? 'critical' : 'normal',\n      requiredBy: new Date(Date.now() + (7 * 24 * 60 * 60 * 1000)).toISOString(), // 7 days from now\n      createdAt: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "name": "Process Reorder Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@ambicapharma.com",
        "toEmail": "={{$json.reorderData.supplier.email}}",
        "subject": "Urgent Purchase Order - {{$json.reorderData.chemical.name}}",
        "emailFormat": "html",
        "text": "",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .header { background-color: #2563eb; color: white; padding: 20px; text-align: center; }\n        .content { padding: 20px; }\n        .chemical-details { background-color: #f8f9fa; padding: 15px; border-radius: 5px; margin: 15px 0; }\n        .urgent { color: #dc2626; font-weight: bold; }\n        .footer { background-color: #f1f5f9; padding: 15px; margin-top: 20px; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>Ambica Pharma Chem</h1>\n        <h2>Purchase Order Request</h2>\n    </div>\n    \n    <div class=\"content\">\n        <p>Dear {{$json.reorderData.supplier.contact}},</p>\n        \n        <p>We need to place an <span class=\"urgent\">{{$json.reorderData.urgency === 'critical' ? 'URGENT' : 'STANDARD'}}</span> order for the following chemical:</p>\n        \n        <div class=\"chemical-details\">\n            <h3>Chemical Details:</h3>\n            <p><strong>Chemical Name:</strong> {{$json.reorderData.chemical.name}}</p>\n            <p><strong>Category:</strong> {{$json.reorderData.chemical.category}}</p>\n            <p><strong>Current Stock:</strong> {{$json.reorderData.chemical.currentStock}} {{$json.reorderData.chemical.unit}}</p>\n            <p><strong>Reorder Threshold:</strong> {{$json.reorderData.chemical.reorderThreshold}} {{$json.reorderData.chemical.unit}}</p>\n            <p><strong>Requested Quantity:</strong> {{$json.reorderData.recommendedQuantity}} {{$json.reorderData.chemical.unit}}</p>\n            <p><strong>Estimated Cost:</strong> ₹{{$json.reorderData.estimatedCost}}</p>\n            <p><strong>Required By:</strong> {{$json.reorderData.requiredBy}}</p>\n        </div>\n        \n        <p><strong>PO Number:</strong> {{$json.reorderData.poNumber}}</p>\n        \n        <p>Please confirm availability and provide:</p>\n        <ul>\n            <li>Current price per {{$json.reorderData.chemical.unit}}</li>\n            <li>Available quantity</li>\n            <li>Expected delivery date</li>\n            <li>Quality certificates</li>\n        </ul>\n        \n        <p>Please reply to this email with your confirmation.</p>\n        \n        <p>Best regards,<br>\n        Procurement Team<br>\n        Ambica Pharma Chem</p>\n    </div>\n    \n    <div class=\"footer\">\n        <p><small>This is an automated message from Ambica Pharma Chem Inventory Management System.</small></p>\n    </div>\n</body>\n</html>",
        "attachments": "",
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8901-2345-678901bcdefg",
      "name": "Email Supplier",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "system@ambicapharma.com",
        "toEmail": "procurement@ambicapharma.com",
        "subject": "Reorder Alert: {{$json.reorderData.chemical.name}}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif;\">\n    <h2>Reorder Alert - {{$json.reorderData.urgency === 'critical' ? '🚨 CRITICAL' : '⚠️ STANDARD'}}</h2>\n    \n    <p>A reorder has been automatically triggered for:</p>\n    \n    <div style=\"background-color: #f8f9fa; padding: 15px; border-radius: 5px; margin: 15px 0;\">\n        <h3>{{$json.reorderData.chemical.name}}</h3>\n        <p><strong>Current Stock:</strong> {{$json.reorderData.chemical.currentStock}} {{$json.reorderData.chemical.unit}}</p>\n        <p><strong>Threshold:</strong> {{$json.reorderData.chemical.reorderThreshold}} {{$json.reorderData.chemical.unit}}</p>\n        <p><strong>Supplier:</strong> {{$json.reorderData.chemical.supplier}}</p>\n        <p><strong>PO Number:</strong> {{$json.reorderData.poNumber}}</p>\n        <p><strong>Requested Quantity:</strong> {{$json.reorderData.recommendedQuantity}} {{$json.reorderData.chemical.unit}}</p>\n        <p><strong>Estimated Cost:</strong> ₹{{$json.reorderData.estimatedCost}}</p>\n    </div>\n    \n    <p>Email sent to supplier: {{$json.reorderData.supplier.email}}</p>\n    <p>Please follow up within 24 hours.</p>\n    \n    <p>Best regards,<br>Inventory Management System</p>\n</body>\n</html>"
      },
      "id": "c3d4e5f6-g7h8-9012-3456-789012cdefgh",
      "name": "Notify Procurement Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "message": "🚨 *CRITICAL REORDER ALERT*\n\nChemical: {{$json.reorderData.chemical.name}}\nCurrent Stock: {{$json.reorderData.chemical.currentStock}} {{$json.reorderData.chemical.unit}}\nSupplier: {{$json.reorderData.chemical.supplier}}\nPO Number: {{$json.reorderData.poNumber}}\n\n⚡ Immediate action required!",
        "chatId": "@ambica_inventory_alerts",
        "parseMode": "Markdown"
      },
      "id": "d4e5f6g7-h8i9-0123-4567-890123defghi",
      "name": "Critical Alert to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        680,
        100
      ]
    },
    {
      "parameters": {
        "message": "⚠️ *Reorder Alert*\n\nChemical: {{$json.reorderData.chemical.name}}\nStock: {{$json.reorderData.chemical.currentStock}} {{$json.reorderData.chemical.unit}}\nPO: {{$json.reorderData.poNumber}}\n\nSupplier contacted automatically.",
        "chatId": "@ambica_inventory_alerts",
        "parseMode": "Markdown"
      },
      "id": "e5f6g7h8-i9j0-1234-5678-901234efghij",
      "name": "Standard Alert to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "functionCode": "// Log the reorder activity\nconst reorderData = $input.first().json.reorderData;\n\n// Create activity log entry\nconst logEntry = {\n  id: `log-${Date.now()}`,\n  timestamp: new Date().toISOString(),\n  user: 'System',\n  action: 'Automatic Reorder Triggered',\n  details: `Reorder triggered for ${reorderData.chemical.name}. PO Number: ${reorderData.poNumber}. Quantity: ${reorderData.recommendedQuantity} ${reorderData.chemical.unit}. Supplier: ${reorderData.chemical.supplier}.`,\n  category: 'purchase_order',\n  severity: reorderData.urgency === 'critical' ? 'warning' : 'info',\n  chemical_id: reorderData.chemical.id\n};\n\nreturn [{\n  json: {\n    logEntry: logEntry,\n    reorderData: reorderData,\n    status: 'success',\n    message: `Reorder workflow completed for ${reorderData.chemical.name}`\n  }\n}];"
      },
      "id": "f6g7h8i9-j0k1-2345-6789-012345fghijk",
      "name": "Log Activity",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"{{$json.message}}\",\n  \"poNumber\": \"{{$json.reorderData.poNumber}}\",\n  \"supplier\": \"{{$json.reorderData.chemical.supplier}}\",\n  \"quantity\": \"{{$json.reorderData.recommendedQuantity}} {{$json.reorderData.chemical.unit}}\",\n  \"timestamp\": \"{{$json.reorderData.createdAt}}\"\n}"
      },
      "id": "g7h8i9j0-k1l2-3456-7890-123456ghijkl",
      "name": "Respond to Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - Reorder Trigger": {
      "main": [
        [
          {
            "node": "Check Urgency Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Urgency Level": {
      "main": [
        [
          {
            "node": "Process Reorder Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Reorder Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Reorder Data": {
      "main": [
        [
          {
            "node": "Email Supplier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Procurement Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Critical Alert to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Standard Alert to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Supplier": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Procurement Team": {
      "main": [
        [
          {
            "node": "Log Activity"
          }
        ]
      ]
    },
    "Log Activity": {
      "main": [
        [
          {
            "node": "Respond to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-15T10:30:00.000Z",
  "updatedAt": "2024-01-15T10:30:00.000Z",
  "settings": {},
  "staticData": null,
  "tags": ["inventory", "automation", "reorder", "ambica-pharma"],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "reorder-trigger-workflow"
}