n8n-workflows/2-purchase-order-processing.json
{
  "name": "Ambica Pharma - Purchase Order Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-purchase-order",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook - PO Processing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "send-purchase-order"
    },
    {
      "parameters": {
        "functionCode": "// Process Purchase Order data and generate PDF content\nconst po = $input.first().json.purchaseOrder;\nconst timestamp = new Date().toISOString();\n\n// Generate HTML for PDF\nconst htmlContent = `\n<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; margin: 40px; }\n        .header { text-align: center; border-bottom: 3px solid #2563eb; padding-bottom: 20px; margin-bottom: 30px; }\n        .company-info { background-color: #f8f9fa; padding: 20px; margin: 20px 0; }\n        .po-details { display: flex; justify-content: space-between; margin: 20px 0; }\n        .items-table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n        .items-table th, .items-table td { border: 1px solid #ddd; padding: 12px; text-align: left; }\n        .items-table th { background-color: #2563eb; color: white; }\n        .total-section { text-align: right; margin: 20px 0; }\n        .footer { margin-top: 40px; border-top: 1px solid #ddd; padding-top: 20px; font-size: 12px; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>AMBICA PHARMA CHEM</h1>\n        <h2>PURCHASE ORDER</h2>\n        <p>Chemical Manufacturing & Distribution</p>\n    </div>\n    \n    <div class=\"company-info\">\n        <h3>Bill To:</h3>\n        <p><strong>Ambica Pharma Chem Pvt. Ltd.</strong><br>\n        123 Industrial Estate<br>\n        Mumbai, Maharashtra 400001<br>\n        Phone: +91-22-12345678<br>\n        Email: procurement@ambicapharma.com<br>\n        GSTIN: 27ABCDE1234F1Z5</p>\n    </div>\n    \n    <div class=\"po-details\">\n        <div>\n            <h3>Purchase Order Details:</h3>\n            <p><strong>PO Number:</strong> ${po.poNumber}</p>\n            <p><strong>Order Date:</strong> ${new Date(po.orderDate).toLocaleDateString('en-IN')}</p>\n            <p><strong>Expected Delivery:</strong> ${new Date(po.expectedDelivery).toLocaleDateString('en-IN')}</p>\n            <p><strong>Priority:</strong> ${po.priority.toUpperCase()}</p>\n        </div>\n        <div>\n            <h3>Supplier Information:</h3>\n            <p><strong>Supplier:</strong> ${po.supplier}</p>\n            <p><strong>Contact:</strong> Contact Person</p>\n            <p><strong>Email:</strong> supplier@email.com</p>\n            <p><strong>Phone:</strong> +91-9876543210</p>\n        </div>\n    </div>\n    \n    <table class=\"items-table\">\n        <thead>\n            <tr>\n                <th>S.No.</th>\n                <th>Chemical Name</th>\n                <th>Quantity</th>\n                <th>Unit Price (₹)</th>\n                <th>Total (₹)</th>\n            </tr>\n        </thead>\n        <tbody>\n            ${po.chemicals.map((item, index) => `\n            <tr>\n                <td>${index + 1}</td>\n                <td>${item.chemicalName}</td>\n                <td>${item.quantity}</td>\n                <td>${item.unitPrice.toLocaleString('en-IN', {style: 'currency', currency: 'INR'})}</td>\n                <td>${item.total.toLocaleString('en-IN', {style: 'currency', currency: 'INR'})}</td>\n            </tr>\n            `).join('')}\n        </tbody>\n    </table>\n    \n    <div class=\"total-section\">\n        <h3>Total Amount: ${po.totalAmount.toLocaleString('en-IN', {style: 'currency', currency: 'INR'})}</h3>\n    </div>\n    \n    ${po.notes ? `<div><h3>Special Instructions:</h3><p>${po.notes}</p></div>` : ''}\n    \n    <div class=\"footer\">\n        <p><strong>Terms & Conditions:</strong></p>\n        <ul>\n            <li>Payment terms: Net 30 days</li>\n            <li>Delivery to be made at our warehouse address</li>\n            <li>Quality certificates required with delivery</li>\n            <li>Any damages during transit to be reported immediately</li>\n        </ul>\n        \n        <p style=\"margin-top: 30px;\">\n            <strong>Authorized Signature:</strong><br>\n            _________________________<br>\n            Procurement Manager<br>\n            Date: ${new Date().toLocaleDateString('en-IN')}\n        </p>\n        \n        <p style=\"text-align: center; margin-top: 20px; color: #666;\">\n            This is a computer-generated document. No signature required.\n        </p>\n    </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    purchaseOrder: po,\n    htmlContent: htmlContent,\n    pdfFileName: `PO_${po.poNumber}_${new Date().toISOString().split('T')[0]}.pdf`,\n    timestamp: timestamp\n  }\n}];"
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Generate PO Document",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.html-to-pdf.net/convert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_PDF_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"html\": \"{{$json.htmlContent}}\",\n  \"options\": {\n    \"format\": \"A4\",\n    \"margin\": {\n      \"top\": \"1in\",\n      \"right\": \"1in\",\n      \"bottom\": \"1in\",\n      \"left\": \"1in\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "procurement@ambicapharma.com",
        "toEmail": "supplier@email.com",
        "subject": "Purchase Order {{$json.purchaseOrder.poNumber}} - {{$json.purchaseOrder.supplier}}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif; margin: 20px;\">\n    <div style=\"background-color: #2563eb; color: white; padding: 20px; text-align: center; margin-bottom: 20px;\">\n        <h1>Ambica Pharma Chem</h1>\n        <h2>Purchase Order</h2>\n    </div>\n    \n    <p>Dear {{$json.purchaseOrder.supplier}},</p>\n    \n    <p>Please find attached our Purchase Order <strong>{{$json.purchaseOrder.poNumber}}</strong> dated {{$json.purchaseOrder.orderDate}}.</p>\n    \n    <div style=\"background-color: #f8f9fa; padding: 15px; margin: 20px 0; border-radius: 5px;\">\n        <h3>Order Summary:</h3>\n        <p><strong>Total Items:</strong> {{$json.purchaseOrder.chemicals.length}}</p>\n        <p><strong>Total Amount:</strong> ₹{{$json.purchaseOrder.totalAmount}}</p>\n        <p><strong>Expected Delivery:</strong> {{$json.purchaseOrder.expectedDelivery}}</p>\n        <p><strong>Priority:</strong> {{$json.purchaseOrder.priority}}</p>\n    </div>\n    \n    <p><strong>Required Actions:</strong></p>\n    <ul>\n        <li>Confirm receipt of this purchase order</li>\n        <li>Provide delivery confirmation with expected date</li>\n        <li>Share quality certificates for all items</li>\n        <li>Send invoice copy for our records</li>\n    </ul>\n    \n    <p>Please confirm the order and expected delivery date within 24 hours.</p>\n    \n    <p>If you have any questions, please contact our procurement team at procurement@ambicapharma.com or +91-22-12345678.</p>\n    \n    <p>Thank you for your continued partnership.</p>\n    \n    <p>Best regards,<br>\n    <strong>Procurement Team</strong><br>\n    Ambica Pharma Chem Pvt. Ltd.<br>\n    Phone: +91-22-12345678<br>\n    Email: procurement@ambicapharma.com</p>\n    \n    <div style=\"margin-top: 30px; padding: 15px; background-color: #e5f3ff; border-radius: 5px;\">\n        <p style=\"margin: 0; font-size: 12px; color: #666;\">\n            <strong>Note:</strong> This is an automated email from our Inventory Management System. \n            Please do not reply to this email. For any queries, contact us at the above mentioned contact details.\n        </p>\n    </div>\n</body>\n</html>",
        "attachments": "data:application/pdf;base64,={{$json.pdfData}}",
        "options": {
          "attachmentsPrefix": "PO_{{$json.purchaseOrder.poNumber}}_"
        }
      },
      "id": "d4e5f6g7-h8i9-0123-def0-456789012345",
      "name": "Email PO to Supplier",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "system@ambicapharma.com",
        "toEmail": "procurement@ambicapharma.com,manager@ambicapharma.com",
        "subject": "PO Sent: {{$json.purchaseOrder.poNumber}} to {{$json.purchaseOrder.supplier}}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif;\">\n    <h2>Purchase Order Sent Successfully</h2>\n    \n    <div style=\"background-color: #f0f9ff; padding: 15px; border-left: 4px solid #2563eb; margin: 20px 0;\">\n        <h3>PO Details:</h3>\n        <p><strong>PO Number:</strong> {{$json.purchaseOrder.poNumber}}</p>\n        <p><strong>Supplier:</strong> {{$json.purchaseOrder.supplier}}</p>\n        <p><strong>Total Amount:</strong> ₹{{$json.purchaseOrder.totalAmount}}</p>\n        <p><strong>Expected Delivery:</strong> {{$json.purchaseOrder.expectedDelivery}}</p>\n        <p><strong>Priority:</strong> {{$json.purchaseOrder.priority}}</p>\n    </div>\n    \n    <h3>Items Ordered:</h3>\n    <ul>\n        {{#each $json.purchaseOrder.chemicals}}\n        <li>{{chemicalName}} - Qty: {{quantity}} - ₹{{total}}</li>\n        {{/each}}\n    </ul>\n    \n    <p><strong>Actions Completed:</strong></p>\n    <ul>\n        <li>✅ PDF generated and attached</li>\n        <li>✅ Email sent to supplier</li>\n        <li>✅ Purchase order logged in system</li>\n    </ul>\n    \n    <p><strong>Next Steps:</strong></p>\n    <ul>\n        <li>Wait for supplier confirmation (within 24 hours)</li>\n        <li>Follow up if no response received</li>\n        <li>Track delivery once confirmed</li>\n    </ul>\n    \n    <p>This PO is now in the system and awaiting supplier confirmation.</p>\n    \n    <p>Best regards,<br>Inventory Management System</p>\n</body>\n</html>"
      },
      "id": "e5f6g7h8-i9j0-1234-ef01-567890123456",
      "name": "Notify Internal Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "message": "📋 *Purchase Order Sent*\n\n*PO Number:* {{$json.purchaseOrder.poNumber}}\n*Supplier:* {{$json.purchaseOrder.supplier}}\n*Amount:* ₹{{$json.purchaseOrder.totalAmount}}\n*Items:* {{$json.purchaseOrder.chemicals.length}}\n*Priority:* {{$json.purchaseOrder.priority}}\n\n✅ Email sent to supplier\n⏳ Awaiting confirmation",
        "chatId": "@ambica_procurement",
        "parseMode": "Markdown"
      },
      "id": "f6g7h8i9-j0k1-2345-f012-678901234567",
      "name": "Slack/Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        100
      ]
    },
    {
      "parameters": {
        "functionCode": "// Create activity log and schedule follow-up\nconst po = $input.first().json.purchaseOrder;\nconst timestamp = new Date().toISOString();\n\n// Create activity log entry\nconst logEntry = {\n  id: `log-${Date.now()}`,\n  timestamp: timestamp,\n  user: 'System',\n  action: 'Purchase Order Sent',\n  details: `PO ${po.poNumber} sent to ${po.supplier}. Total amount: ₹${po.totalAmount}. Items: ${po.chemicals.length}. Priority: ${po.priority}.`,\n  category: 'purchase_order',\n  severity: 'success',\n  po_id: po.id\n};\n\n// Schedule follow-up (24 hours later)\nconst followUpDate = new Date(Date.now() + (24 * 60 * 60 * 1000));\n\nreturn [{\n  json: {\n    logEntry: logEntry,\n    purchaseOrder: po,\n    followUp: {\n      scheduledFor: followUpDate.toISOString(),\n      action: 'supplier_confirmation_followup',\n      poNumber: po.poNumber,\n      supplier: po.supplier\n    },\n    status: 'success',\n    message: `Purchase Order ${po.poNumber} processed and sent successfully`\n  }\n}];"
      },
      "id": "g7h8i9j0-k1l2-3456-0123-789012345678",
      "name": "Log & Schedule Follow-up",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"{{$json.message}}\",\n  \"poNumber\": \"{{$json.purchaseOrder.poNumber}}\",\n  \"supplier\": \"{{$json.purchaseOrder.supplier}}\",\n  \"totalAmount\": {{$json.purchaseOrder.totalAmount}},\n  \"emailSent\": true,\n  \"pdfGenerated\": true,\n  \"followUpScheduled\": \"{{$json.followUp.scheduledFor}}\",\n  \"timestamp\": \"{{$json.logEntry.timestamp}}\"\n}"
      },
      "id": "h8i9j0k1-l2m3-4567-1234-890123456789",
      "name": "Respond to Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - PO Processing": {
      "main": [
        [
          {
            "node": "Generate PO Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PO Document": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Email PO to Supplier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Internal Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack/Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email PO to Supplier": {
      "main": [
        [
          {
            "node": "Log & Schedule Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log & Schedule Follow-up": {
      "main": [
        [
          {
            "node": "Respond to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-15T10:45:00.000Z",
  "updatedAt": "2024-01-15T10:45:00.000Z",
  "settings": {},
  "staticData": null,
  "tags": ["inventory", "purchase-order", "automation", "ambica-pharma"],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "purchase-order-processing-workflow"
}